*, *:before, *:after {
  /* See https://css-tricks.com/international-box-sizing-awareness-day/ */
  box-sizing: border-box; 
}
  
body                 { font-family: sans-serif; }
.calendarEntryForm   { width: 24em; font-family: sans-serif; }
.calendarEntryForm p { margin: 5px; }
input, select        { border: 1px solid #cde; }
.label               { width: 6em; display: inline-block; }
.timeSelector        { width: 8em; }
.minuteCount         { width: 3em; }
