body    { font-family: "Helvetica", sans-serif; }
a       { text-decoration: none; }
a:hover { text-decoration: underline; }
input[type=range] {
  height:1em;
  margin: 0 0.5em 0 0.5em;
}

form, fieldset {
  max-width: 500px;
}
form p, fieldset p {
  margin: 8px 0 10px 0;
}
.labelspan {
  display: inline-block;
  width: calc(5em + 10%);
};
